@font-face {
	font-family: 'gothic';
	src: url('../font/gothic.eot');
	src: local('gothic'), url('../font/gothic.woff') format('woff'), url('../font/gothic.ttf') format('truetype');
}

body{font: 16px/normal gothic; background: #aaa; color: #fff; overflow-x: hidden;}
*{margin: 0; padding: 0;}
.row:after{content: ""; display: block; clear: both;}
.left{float: left;}
.right{float: right;}
.clear{clear: both;}
a{text-decoration: none}
.img_resp{max-width: 100%;}
.center{text-align: center;}
.hlight{color: #f44336}
.bold{font-weight: bold;}
.uppercase{text-transform: uppercase;}
.section_intro{height: 700px; background: url("../img/sea-city-sunset-316902.jpg") no-repeat fixed; background-size: 100% 100%; margin-top: 94px; position: relative;}
.section_intro:before{position: absolute; height: 100%; width: 100%; background:  #121212; content: ""; display: inline-block; opacity: 0.7}
.section_about{background:  #fff; color: #000; border-top: 3px solid #f44336;}
.section_education{background: url("../img/wallpaper2you_202574.jpg") no-repeat fixed; background-size: 100% 100%; color: #000000; border-top: 3px solid #f44336; position: relative;}
.section_education:before{position: absolute; height: 100%; width: 100%; background: #121212; content: ""; display: inline-block; opacity: 0.7}
.section_skill{padding: 50px 0px; position: relative; background-color: #fff; background-size: 100% 100%; border-top: 3px solid #f44336;}
.section_works{color: #000000; border-top: 3px solid #f44336; position: relative;}
.section_works:before{position: absolute; height: 100%; width: 100%; background: #e53935; content: ""; display: inline-block; opacity: 1}
.section_contact{background: url("../img/68413486-nature-wallpapers.jpg") no-repeat fixed;background-size: 100% 100%; border-top: 3px solid #777; position: relative;}
.section_contact:before{position: absolute; height: 100%; width: 100%; background: #121212; content: ""; display: inline-block; opacity: 0.7}
/*======================================================================*/
.header{background-color: #fff; padding: 0px; transition: all 0.5s ease; width: 100%; z-index: 999; position: fixed; left: 0; top: 0;}
.top-nav-collapse {
    color: #000;
    box-shadow: 1px 1px 5px 3px #565050;
}
.nav_bar{line-height: 94px;}
.logo-head #logo-head-name{color: #777; font-size: 50px; display: block;}
.logo-head #logo-head-tag{color: #aaa; letter-spacing: 3px; margin-bottom: 10px; display: block;}
.nav_bar .menu li{float: left;}
.nav_bar .menu li a{text-decoration: none; color: #777; font-size: 16px; padding: 10px 10px; margin: 0px 9px; font-weight: bold;}
.nav_bar .menu li a:hover{color: #f44336;}
.button-res{border: 1px solid #999; padding: 7px; display: none}
.button-res span{border-bottom: 1px solid #f44336; width: 30px; display: block; margin-bottom: 5px;}
.button-res span:last-child{ margin-bottom: 0px;}
/*==========================================================================*/
.section_intro .intro_section{text-align: center; padding-top: 170px;}
.intro_section .intro_name{font-size: 60px; margin-bottom: 0px; display: block; text-shadow: 2px 2px 4px #000000; font-weight: thin;}
.gapdiamond{position: relative; margin: 10px auto;}
.gapdiamond:after{content: ""; display: block; width: 50%; border-bottom: 1px solid #fff; margin: 3px auto;}
.gapdiamond span{position: absolute; display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: #fff; margin: -5px auto auto auto; top: 50%;}
.intro_section .intro_caption{font-size: 25px; display: inline-block; text-shadow: 2px 2px 4px #000000; display: block;} 
.resume{ width: 250px; height: 40px; display: inline-block; margin-top: 10px; transition: 1s; border: 1px solid #fff;} 
.resume:hover{background: #fff; border-radius: 30px;}
.resume a{color: #fff;}
.resume:hover a{color: #000;}
.resume .fas{ line-height: 38px; vertical-align: middle; margin-right: 10px; color: #e53935; font-size: 20px}
/*==========================================================================*/
.section_about .container{padding: 40px 0px; color: #777777}
.section_about .myimagebox{width: 200px; height: 200px; margin: 20px 0px; display: inline-block;}
.section_about .myimagebox #myimage{ opacity: 0.1; width: 100%; border-radius: 50%}
.section_about  #about_head_name{font-size: 40px; padding-bottom: 10px; margin-bottom: 5px; }
#about_head_name:after{content: ""; border-bottom: 1px solid #f44336; display: block; width: 100px; margin: auto; margin-top: 20px;}
.section_about  #about_des{line-height: 25px; padding: 0px 15px 50px 15px; font-size: 18px;}
/*==========================================================================*/
.edu_box{border-top: 3px solid #f44336; position: relative; top: -50px; background: #fff; height: 350px; text-align: center; padding: 0px 10px; color: #777777; margin-bottom: 30px;}
.edu_box p{margin-bottom: 2px;}
.edu_box .edu_box_name{font-size: 20px; margin-top: 10px; color: #f44336;}
.year{font-weight: normal; border-radius: 3px; padding: 0px 5px;}
.line_break_small{width: 100px; border-bottom: 1px solid  #f44336; margin: 15px auto 15px auto}
.line_break_full{width: 100%; border-bottom: 1px solid #777; margin: 15px auto 15px auto}
.ace_ic{width: 13px; height: 13px; margin-right: 2px; vertical-align: baseline;}
#acedemic_ic{width: 50px; height: 50px; vertical-align: middle; margin-top: 40px;}
#work_ic{width: 50px; height: 50px; vertical-align: middle; margin-top: 40px;}
.work_small_ic{width: 13px; height: 13px; margin-right: 7px; vertical-align: baseline;}
#tech_ic{width: 50px; height: 50px; vertical-align: middle; margin-top: 40px;}
/*==========================================================================*/
#skills_head{font-size: 40px; margin-bottom: 40px; color: #777777; border-bottom: 2px solid; text-align: center;}
.skill_box{padding: 10px; border-left: 3px solid #f44336; color: #777; margin-bottom: 30px; transition: 1s; background: #eaeded; height: 200px;}
.skill_box:hover .skill_name {background: #45b39d; text-decoration: none;}
.skill_box:hover{background: #e8f8f5;}
.skill_name {font-weight: bold; color: #fff; margin-bottom: 10px; background: #c0392b ; display: inline-block;  padding: 3px 5px; transition: 1s;}
.skill_des{font-size: 14px;}
.skills ul li{margin-top: 10px;}
.skill_container{background-color: #e5e7e9; width: 100%; border-top-right-radius: 10px;border-bottom-right-radius: 10px; margin-bottom: 10px; height: 16px}
.html{padding-right: 10px;width: 0%; background-color:  #c0392b; text-align: right; color: #fff; border-top-right-radius: 10px;border-bottom-right-radius: 10px; height: 16px; font-size: 12px;}
.css{padding-right: 10px; width: 0%; background-color:  #c0392b; text-align: right; color: #fff;border-top-right-radius: 10px;border-bottom-right-radius: 10px; height: 16px; font-size: 12px;}
.js{padding-right: 10px; width: 0%; background-color:  #c0392b; text-align: right; color: #fff;border-top-right-radius: 10px;border-bottom-right-radius: 10px; height: 16px; font-size: 12px;}
.b_m{padding-right: 10px; width: 0%; background-color:  #c0392b; text-align: right; color: #fff;border-top-right-radius: 10px;border-bottom-right-radius: 10px; height: 16px; font-size: 12px;}
.jq{padding-right: 10px; width: 0%; background-color:  #c0392b; text-align: right; color: #fff;border-top-right-radius: 10px;border-bottom-right-radius: 10px; height: 16px; font-size: 12px;}
.ps{padding-right: 10px; width: 0%; background-color:  #c0392b; text-align: right; color: #fff;border-top-right-radius: 10px;border-bottom-right-radius: 10px; height: 16px; font-size: 12px;}
/*===========================================================================*/
.gototop{position: fixed; bottom: 20px; right: 50px; z-index: 111;}
#clickfortop{cursor: pointer; z-index: 1; width: 30px; height: 20px;}
.gototop .fas{color: #e53935; font-size: 30px; transition: .5s}
.gototop .fas:hover{transform: rotate(360deg); }
.displayDate{position: fixed; bottom: 20px; left: 50px; z-index: 112}
#date{background: #f44336; border-radius: 3px; padding: 2px 10px;}
/*===========================================================================*/
.myWork{padding: 80px 0px 80px; text-align: center; color: #fff;}
.myWork p:nth-child(2){margin-bottom: 20px;}
.myWork p:nth-child(3){margin-bottom: 10px;}
.myWork p:nth-child(4){margin-bottom: 10px;}
.live_web a{width: 250px; line-height: 40px; display: inline-block; margin-top: 10px; transition: 1s; color: #fff; border: 1px solid #fff;}
.live_web a:hover{border-radius: 30px;}
#myWork_head{font-size: 40px; color: #fff; text-shadow: 2px 2px 4px #000000; margin-bottom: 10px; }
#myWork_head:after{content: ""; display: block; border-bottom: 1px solid; width: 300px; margin: 10px auto;}
/*====================================================================================*/
/*Contact me*/
.section_contact .g_map{height: 300px; color: #000; display: block; margin: 80px 0px 80px; display: block;}
#contactme_head{font-size: 50px; margin-bottom: 15px; text-align: center; color: #e53935;}
#contactme_caption{font-size: 20px;}
#contact_num{margin-bottom: 10px;}
.mydisplay{width: 100%; height: 100%; color: #fff; padding: 50px 0px 0px; text-shadow: 1px 1px 5px #0000004d;}
.mydisplay .circle{display: block; width: 56px; height: 56px; border: 2px solid #e53935; border-radius: 50%; margin: 30px auto;}
.mydisplay .circle .fas,.mydisplay .circle .fab{line-height: 52px; margin: auto auto; color: #e53935; font-size: 20px; text-align: center; display: block;}
.mydisplay .circle i{}
#neolia{display: inline-block;}
#mailtome a{color: #fff}
#mailtome a:hover{text-decoration: underline;}
/*====================================================================================*/
.footer{text-align: center; padding: 15px 0px; border-top: 1px solid #f44336;  color: #999; background: #1C1C1CFB;}
.footer .menu{padding: 10px 0px;}
.footer .menu li {display: inline-block; font-size: 14px; color: #666;}
.footer .menu li a{display: inline-block; font-size: 14px; color: #666; text-decoration: none}
.footer .menu li a:hover{color: #999;}
.contact_f .circle{display: inline-block; width: 36px; height: 36px; border: 1px solid #e53935; border-radius: 50%; margin: auto; transition: .5s; cursor: pointer;}
.footer .contact_f .circle .fas, .contact_f .circle .fab{ font-size: 18px; transition: .5s; line-height: 32px; color: #e53935;}
.contact_f .circle:hover, .footer .contact_f .circle:hover .fas, .contact_f .circle:hover .fab{color: #fff; border-color: #fff;}

/*=====================================================================================*/
/*Extra*/
.code{background: #444; color: #fff; padding: 10px; display: inline-block; border-radius: 5px; box-shadow: 1px 2px 3px #fff; font-size: 14px;}
.concept{color: #1f618d; margin: 15px 0px;}
/*=====================================================================================*/
/* Add Animation */
@-webkit-keyframes animatetop {
    from {left:-100px; opacity:0} 
    to {left:0; opacity:1}
}
@keyframes animatetop {
    from {left:-100px; opacity:0}
    to {left:0; opacity:1}
}
.close { position: fixed; color: #e53935; right: 20px; top: 30px; font-size: 30px; cursor: pointer; opacity: 1; display: none}
.close:hover{color: #f00; opacity: 1;}
/*=====================================================================================*/
@media (max-width: 768px){
	.fixed .large{display: block;}
	.intro_section .intro_name{
		font-size: 30px;	
	}
	.displayDate{display: none;}
	.close{display: block;}
	.section_intro .intro_section .intro_caption{font-size: 20px;}
	.button-res{display: block; float: right; margin-top: 20px;	cursor: pointer;}
	.header .logo-head{display: inline-block; float: left;}
	.header .logo-head #logo-head-name{color: #777; font-size: 40px; display: block;}
	.header .logo-head #logo-head-tag{color: #aaa; letter-spacing: 3px; margin-bottom: 10px; display: block;}
	.header .nav_bar {clear: both; padding-top: 100px; position: fixed; top: 0; left: 0; width: 100%;  background-color: rgba(0,0,0,0.9); z-index: 999999999999; display: none; text-align: center;	height: 100%;}
	.nav_bar.active{display: block;}
	.header .menu{float: none; animation-name: animatetop; animation-duration: 0.4s; width: 50%; margin: auto; padding: 0; position: relative;}
	.header .menu li{float: none;}
	.header .menu li a{text-decoration: none; color: #ddd; font-size: 25px; padding: 30px 0px 0px; margin: 0px; text-shadow: 2px 2px 4px #000000; font-weight: 500; display: inline-block;}
	.header .menu li a:hover{color: #fff;}
	.section_intro .intro_section{text-align: center; padding-top: 70px;}
	.section_intro{height: 300px; background: url("../img/elegant.jpg") repeat; margin-top: 80px;}
	.rsp_files:after{width: 100%; }
	.nav_bar{line-height: 40px;}
	.wrap-2 .col-xl-4{margin-bottom: 10px;}
	.skill_box{height: 100%;}
	.mydisplay{text-align: center; font-size: 18px;}
	.section_contact .container .row .col-lg-6{padding: 20px; height: 300px;}
	.mydisplay #contactme_head{font-size: 30px;  font-weight: bold;}
	.section_about  #about_des{padding-bottom: 50px; font-size: 16px;}
	.resume{ width: 180px; line-height: 35px; display: inline-block; margin-top: 10px;  transition: 1s; background-color: transparent; border: 1px solid;} 
	.resume:hover{ background: #f44336;}
	.resume a{ display: inline-block; font-size: 14px; color: #fff;}
	#resume_ic{ width: 20px; height: 20px; vertical-align: middle; margin-right: 5px;}
	.section_education{padding-bottom: 0px;}
	.boxes img{width: 100%; height: 350px;}
	.section_works {color: #000000; position: relative; background: url("../img/bgres.jpg") repeat;}
	.section_education{background: url("../img/leather-black.jpg") repeat; }
	.section_skill{background: #fff;}
	.section_contact{ color: #000; background: url("../img/leather-black.jpg") repeat;}
	.gototop{position: fixed; bottom: 20px; right: 20px; z-index: 111;}
}
@media (max-width: 480px){
	.header{padding: 15px 0px;}
	.button-res{display: block; float: right; margin-top: 10px;	cursor: pointer;}
	.header .logo-head #logo-head-name{color: #777; font-size: 40px; display: block;}
	.header .logo-head #logo-head-tag{display: none;}
}
